{
  "presets": [
    "es2015"
  ],
  "sourceMaps": "inline",
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "development": {
      "presets": []
    },
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
